<div>
	<strong><a id="[[TOKEN_NAME]]" class="name">[[TOKEN_NAME]]</a></strong>
	<p class="description">[[TOKEN_DESCRIPTION]]</p>
	<pre>[[TOKEN_SIGNATURE]]</pre>
	<p class="argument">[[TOKEN_ARGUMENTS]]</p>
	<p class="return">[[TOKEN_RETURN]]</p>
</div>
